* {
    font-family: 'Cairo', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header {
    background-color: #C2DED1;
    width: 100%;
    position: fixed;
    z-index: 9999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px ;
}

.logo {
    text-decoration: none;
    color: #4872e4;
    font-weight: 100; 
    font-size: 30px;
    text-transform:uppercase ;
} 

.navigation a {
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
    padding-left: 50px;
    color: #4872e4;
    margin: 10px;
    padding: 10px;
    transition: 1.2s;
}

.navigation a:hover {
    background-color: #26027c;
    color: #fff;
    border-radius: 20px;   
}

section { 
    padding: 100px 100px;
}

.main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(img/aaasd.jpg) no-repeat;
    background-size: cover;
    background-position: center top;
    background-attachment: fixed;
}

.main h2 {
    color: #4872e4;
    font-size: 20px;
    font-weight: 400;
}

.main h2 span {
    color: #26027c;
    font-size: 45px;
    font-family: 500;
}

.main h3 {
    color: #26027c;
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 1px; 
} 

.main-btn {
    display: inline-block;
    color: #fff;
    font-size: 25px;
    font-weight: 600;
    background-color: #4872e4;
    border-radius: 15px;
    padding: 7px;
    text-decoration: none;
    margin-top: 25px;
    transition: 1.2s;
}

.main-btn:hover {
    background-color: #26027c;
    transform: scale(1.2);
}

.title {
    display: flex;
    justify-content: center;
    color: #26027c;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 30px;
} 

.content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap; 
}

.card {
    background-color:#C2DED1;
    width: 210px;
    border-radius: 30px;
    padding: 25px;
    margin: 15px;
    text-align: center;  
    box-shadow:1px 3px 3px 8px #eeeeee59;
    transition: 0.9s; 
}

.card:hover {
    transform: scale(1.1);
}

.info h4 {
    color: #26027c;
    font-size: 25px;
    font-weight: 400;
}

.info p {
    color:#4872e4;
    
}

.projects {
    background-color: #3A3845;
}

.projects .content {
    margin-top: 80px;
}

.title-a {
    display: flex;
    justify-content: center;
    color: #fff;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 30px;
}

.projects-card {
    background-color: #fff;
    border: 2px solid #fff;
    min-height: 14em;
    width: 324px;
    border-radius: 20px;
    margin: 20px;
    transition: 0.7s ease;
    padding: 10px;
} 

.projects-card:hover {
    transform: scale(0.8);
}

.projects-category {
    font-size: 15px;
    color: #3A3845;
}

.projects-titel {
    font-size: 17px;
    font-weight: 500;
}

.more {
    text-decoration: none;
    transition: 0.5s ease;
    margin: 30px;
    padding: 10px;
}

.more:hover {
    color: red;
    transform: scale(0.1);
    background-color: #3A3845;
    color: #fff;
    border-radius: 10px;
}

.title-b {
    display: flex;
    justify-content: center;
    color: #26027c;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 30px;
}

.card-a {
    background-color:#C2DED1;
    width: 250px;
    border-radius: 30px;
    padding: 25px;
    margin: 15px;
    text-align: center;  
    box-shadow:1px 3px 3px 8px #eeeeee59;
    transition: 0.9s; 
}

.card-a:hover {
    transform: scale(1.1);
}

.footer {
    background-color: #3A3845;
    color: #fff;
    text-align: center;
    padding: 1.5em;  
}

.footer-titel {
    font-size: 20px;
    font-weight: 600; 
}

.footer-titel span {
    font-size: 30px;
    font-weight: 600;
    color: #4872e4;
}

.img {
    border-radius: 50px;
}



@media (max-width:1023px) {    
    header {
        padding: 12px 20px;
    }  

    .navigation a {
        padding-left: 10px;
    }

    .titel {
        font-size: 1.8em;
    }

    section {
        padding: 80px 20px;
    }

    .main-content h2 {
        font-size: 1em
    }

    .main-content h3 {
        font-size: 1.6em
    }

    .content {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width:641px)  {
    body{
        font-size:12px;
    }

    .main-content h2 {
        font-size: 0.8em;
    }

    .main-content h3 {
        font: size 1.4em; 
    }
}

@media (max-width:300px)  {
    body {
        font: size 10px;
    }
}

